{% extends 'base.html.twig' %}

{% block title %}Gestion News{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/divSG1.css') }}">
    <div class="siteSG1" style="padding-bottom: 5%" >
        <h1 style="text-align: center">Gestion des News</h1>

        <div class="col-sm-12" style="text-align: center;margin-bottom: 5%"><a href="{{ path('CreateNews') }}" type="button" class="btn btn-success">Création d'une news</a></div>



        {% if news != null %}
            <table border="1" style="text-align: center;margin-left: 25%;margin-right: 25%;margin-bottom: 2%">
                <tr>
                    <td>Photo</td>
                    <td>ID</td>
                    <td>Titre de la news</td>
                    <td>Update</td>
                    <td>Detail</td>
                    <td>Supprimer le Concours</td>

                </tr>
                {% for News in news  %}
                    <tr>
                        <td><img src="../img/news/{{News.file}}" style="max-width: 10em ;height: auto; "></td>
                        <td>{{ News.id }}</td>
                        <td>{{ News.titre }}</td>
                        <td><a href="{{ path('UpdateNews',{'id': News.id}) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                        <td><a href="{{ path('NewsDetail',{'id': News.id}) }}"><i class="fa fa-search" aria-hidden="true"></i></a></td>
                        <td><a href="{{ path('newsDelete',{'id': News.id}) }}"><i class="fa fa-ban" aria-hidden="true"></i></a></td>
                    </tr>
                {% endfor %}
            </table>

        {% else %}
            <p>Aucune News Actuellement</p>

        {% endif %}



    </div>
{% endblock %}