{% extends 'base.html.twig' %}

{% block title %}Saison SG1{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('css/Saison.css') }}">
    <div class="siteSG1">
        <div class="container-fluid bg-3 text-center">
            <h3>Saison Stargate SG1</h3><br>
            <div class="row">

                <div class="col-sm-6">
                    <div class="col-sm-12" style="margin-bottom: 20px">
                        <a href="{{ path('ListeEpisode', {'idOfSaison':1}) }}">
                            <img src="{{ asset('img/SG1/photo/sg1_s1.jpg') }}" class="img-responsive" style="float: left" alt="Image">
                            <div class="col-sm-4" style="float: left"><h4>Saison 1</h4></div>
                            <div class="col-sm-8"></div>

                            <div class="col-sm-12" style="margin-top: 20px; clear: both"><p>Le gouvernement forme le SGC pour permettre l’exploration de notre galaxie pour
                                    découvrir de nouvelles technologies et alliés pour défendre la Terre.</p></div>
                        </a>

                    </div>
                    <hr>

                    <div class="col-sm-12" style="margin-bottom: 20px">
                        <a href="{{ path('ListeEpisode', {'idOfSaison':2}) }}">
                            <img src="{{ asset('img/SG1/photo/sg1_s2.jpg') }}" class="img-responsive" style="float: left" alt="Image">
                            <div class="col-sm-4" style="float: left"><h4>Saison 2</h4></div>
                            <div class="col-sm-8"></div>

                            <div class="col-sm-12" style="margin-top: 20px; clear: both"><p>Le SGC forme une alliance avec un mouvement de résistance Goa’uld connue sous le nom de la Tok’ra.
                                    Sg-1 assiste à la chute d’un ennemi très puissant.</p></div>
                        </a>

                    </div>
                    <hr>


                    <div class="col-sm-12" style="margin-bottom: 20px">
                        <a href="{{ path('ListeEpisode', {'idOfSaison':3}) }}">
                            <img src="{{ asset('img/SG1/photo/sg1_s3.jpg') }}" class="img-responsive" style="float: left" alt="Image">
                            <div class="col-sm-4" style="float: left"><h4>Saison 3</h4></div>
                            <div class="col-sm-8"></div>

                            <div class="col-sm-12" style="margin-top: 20px; clear: both"><p>Le SGC signe un traité avec les Goa’ulds pour prévenir une invasion de la Terre continue mais
                                    Sg-1 rencontre de nouveaux ennemis</p></div>
                        </a>

                    </div>
                    <hr>

                    <div class="col-sm-12" style="margin-bottom: 20px">
                        <a href="{{ path('ListeEpisode', {'idOfSaison':4}) }}">
                            <img src="{{ asset('img/SG1/photo/sg1_s4.jpg') }}" class="img-responsive" style="float: left" alt="Image">
                            <div class="col-sm-4" style="float: left"><h4>Saison 4</h4></div>
                            <div class="col-sm-8"></div>

                            <div class="col-sm-12" style="margin-top: 20px; clear: both"><p>La Terre porte assistance aux Asgards contre leur  ennemi, les Réplicateurs.
                                    Le SGC découvre l’existence d’un programme « Porte des Étoiles » russe.</p></div>
                        </a>

                    </div>
                    <hr>

                    <div class="col-sm-12" style="margin-bottom: 20px">
                        <a href="{{ path('ListeEpisode', {'idOfSaison':5}) }}">
                            <img src="{{ asset('img/SG1/photo/sg1_s5.jpg') }}" class="img-responsive" style="float: left" alt="Image">
                            <div class="col-sm-4" style="float: left"><h4>Saison 5</h4></div>
                            <div class="col-sm-8"></div>

                            <div class="col-sm-12" style="margin-top: 20px; clear: both"><p>Le SGC signe un traité avec les Goa’ulds pour prévenir une invasion de la Terre continue
                                    mais Sg-1 rencontre de nouveaux ennemis</p></div>
                        </a>

                    </div>
                    <hr>
                </div>




                <div class="col-sm-6">



                    <div class="col-sm-12" style="margin-bottom: 20px">
                        <a href="{{ path('ListeEpisode', {'idOfSaison':6}) }}">
                            <img src="{{ asset('img/SG1/photo/sg1_s6.jpg') }}" class="img-responsive" style="float: left" alt="Image">
                            <div class="col-sm-4" style="float: left"><h4>Saison 6</h4></div>
                            <div class="col-sm-8"></div>

                            <div class="col-sm-12" style="margin-top: 20px; clear: both"><p>Le SGC signe un traité avec les Goa’ulds pour prévenir une invasion de la Terre continue
                                    mais Sg-1 rencontre de nouveaux ennemis</p></div>
                        </a>

                    </div>
                    <hr>

                    <div class="col-sm-12" style="margin-bottom: 20px">
                        <a href="{{ path('ListeEpisode', {'idOfSaison':7}) }}">
                            <img src="{{ asset('img/SG1/photo/sg1_s7.jpg') }}" class="img-responsive" style="float: left" alt="Image">
                            <div class="col-sm-4" style="float: left"><h4>Saison 7</h4></div>
                            <div class="col-sm-8"></div>

                            <div class="col-sm-12" style="margin-top: 20px; clear: both"><p>Le SGC signe un traité avec les Goa’ulds pour prévenir une invasion de la Terre continue
                                    mais Sg-1 rencontre de nouveaux ennemis</p></div>
                        </a>

                    </div>
                    <hr>

                    <div class="col-sm-12" style="margin-bottom: 20px">
                        <a href="{{ path('ListeEpisode', {'idOfSaison':8}) }}">
                            <img src="{{ asset('img/SG1/photo/sg1_s8.jpg') }}" class="img-responsive" style="float: left" alt="Image">
                            <div class="col-sm-4" style="float: left"><h4>Saison 8</h4></div>
                            <div class="col-sm-8"></div>

                            <div class="col-sm-12" style="margin-top: 20px; clear: both"><p>Le SGC signe un traité avec les Goa’ulds pour prévenir une invasion de la Terre continue
                                    mais Sg-1 rencontre de nouveaux ennemis</p></div>
                        </a>

                    </div>
                    <hr>

                    <div class="col-sm-12" style="margin-bottom: 20px">
                        <a href="{{ path('ListeEpisode', {'idOfSaison':9}) }}">
                            <img src="{{ asset('img/SG1/photo/sg1_s9.jpg') }}" class="img-responsive" style="float: left" alt="Image">
                            <div class="col-sm-4" style="float: left"><h4>Saison 9</h4></div>
                            <div class="col-sm-8"></div>

                            <div class="col-sm-12" style="margin-top: 20px; clear: both"><p>Le SGC signe un traité avec les Goa’ulds pour prévenir une invasion de la Terre continue
                                    mais Sg-1 rencontre de nouveaux ennemis</p></div>
                        </a>

                    </div>
                    <hr>

                    <div class="col-sm-12" style="margin-bottom: 20px">
                        <a href="{{ path('ListeEpisode', {'idOfSaison':10}) }}">
                            <img src="{{ asset('img/SG1/photo/sg1_s10.jpg') }}" class="img-responsive" style="float: left" alt="Image">
                            <div class="col-sm-4" style="float: left"><h4>Saison 10</h4></div>
                            <div class="col-sm-8"></div>

                            <div class="col-sm-12" style="margin-top: 20px; clear: both"><p>Le SGC signe un traité avec les Goa’ulds pour prévenir une invasion de la Terre continue
                                    mais Sg-1 rencontre de nouveaux ennemis</p></div>
                        </a>

                    </div>
                    <hr>
                </div>

            </div>
        </div>
    </div>
    </div>

{% endblock %}