{% extends 'base.html.twig' %}


{% block body %}

    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {% if app.session.flashBag.has('delete') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('delete') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {% if app.session.flashBag.has('concours') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('concours') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <div style="margin-top: 5%" class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <H3 style="text-align: center">Actualités</H3>
                {% if news != null %}
                    {% for News in news %}
                    <div class="col-sm-12 col-xs-12" style="margin-bottom: 5%">
                        <p><img src="/img/news/{{News.file}}" style="width: 150px;margin-right: 2%">
                            <a href="{{ path('NewsDetail',{'id': News.id}) }}">{{ News.titre }}</a>
                        </p>

                    </div>

                    {% endfor %}
                {% else %}
                    <p>Aucune news actuellement</p>
                {% endif %}

            </div>



            <div class="col-sm-6 col-xs-12">
                <H3 style="text-align: center">Concours</H3>
                   {% for Concours in concour %}
                       {% if app.user %}
                       <div  class="col-sm-12 col-xs-12" style="margin-bottom: 5%">
                            <figure>
                                <a href="{{ path('InscriptionConcours',{'id':Concours.id}) }}"><img style="width: 333px; height: 93px" src="../img/concours/{{Concours.file}}"></a>
                            </figure>
                       </div>
                           {% else %}
                               <div class="col-sm-12">
                                   <figure>
                                       <a href="{{ path('Login')}}">Participez à nos concours</a>
                                   </figure>
                               </div>
                    {% endif %}

                    {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}



